@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.fundo {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
}

.pelicula {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
}

.sombreado {
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.apagado {
    opacity: 0;
}

.topo {
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.topo ion-icon {
    font-size: 40px;
}

.logo {
    width: 75px;
    height: auto;
}

.preenchimento {
    width: 100%;
    height: 100px;
}

.rodape {
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.rodape ion-icon {
    font-size: 30px;
}

input {
    border: none;
    width: 75%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

input:focus-visible {
    border: none;
    border-bottom: 2px solid rgb(42, 197, 218);
}

.item {
    margin-top: 6px;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.item h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin-right: 4px;
}

.item h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #AAAAAA;
    margin-right: 10px;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private_message {
    background-color: #FFDEDE;
}

.mensagens {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    bottom: 90px;
    top: 90px;
    width: 100%;
    height: auto;
    z-index: 0;
}

button {
    border: none;
    background-color: white;
}

.lateral {
    width: 65%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    right: 0px;
    z-index: -1;
    opacity: 0;
}

.mostrar {
    background: #FFFFFF;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.lateral-topo {
    width: 80%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lateral h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.pessoas {
    width: 100%;
}

.opcao {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.opcao h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.opcao ion-icon {
    font-size: 25px;
    margin-right: 5px;
}

.seletor {
    display: flex;
    flex-direction: row;
}

.check {
    color: #28BB25;
    font-weight: bolder;
    opacity: 0;
}

.selecionado {
    opacity: 1;
}

.visibilidade {
    width: 80%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}